#home-one {
  background-color: rgb(190, 245, 60);
  width: 99.5vw;
  height: 59vh;
  color: black;
  padding: 70px 0px;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: space-between;
}

#home-two {
  background-color: white;
  width: 99vw;
  height: 52vh;
  color: black;
  border-bottom: 1px solid black;

  display: flex;
  flex-direction: row;
  // flex-flow: column wrap;
  // align-items: stretch;

}

#home-three {
  background-color: white;
  width: 99vw;
  height: 52.5vh;
  color: black;
  border-bottom: 1px solid black;
}

#home-four {
  background-color: rgb(241,235,230);
  width: 99vw;
  height: 67vh;
  color: black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

#home-five {
  background-color: black;
  width: 99vw;
  height: 72vh;
  color: black;
  border-bottom: 1px solid black;
}





#videos {
  width: 72.8%;
  // object-fit: cover;
  // object-position: center;
  // height: 100%;
}
