#home-one {
  background-color: rgb(190, 245, 60);
  width: 100vw;
  height: 578px;
  color: black;
  padding: 70px 0px;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: center;
}

#home-one > div {

  width: 30vw;
  height: 578px;
  font-size: 50px;
  display: flex;

  // align-items: center;
  flex-direction: column;
  justify-content: center;
}


#home-signup {
  color: white;
  align-items: center;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  height: 40px;
  min-width: 130px;
  border-radius: 30px;
  background-color: black;
}




#home-one > div > h1 {
  // border: 1px solid black;
  font-size: 50px;
  
  
}
#home-one > div > h2 {
  font-size: 25px;
  font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
}


#home-two {
  background-color: white;
  width: 99vw;
  height: 450px;
  color: black;
  border-bottom: 1px solid black;

  display: flex;
  flex-direction: row;

  #videos {
    object-fit: none;
    width: 50vw;
  }

}


#home-two-style {
  font-size: 50px;
  font-family: sans-serif;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid black;
}


#home-three {

  background-color: white;
  width: 99vw;
  height: 530px;
  color: black;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#home-three > div {
  width: 800px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#home-three > div > div {
  // border: 1px solid black;
}



#customers {
  width: 100%;
}


#customers th {
  font-weight: bold;
  text-align: left;
}

#customers td {
  padding: 8px 0px;
  text-align: left;
}





#home-four {
  background-color: rgb(241,235,230);
  width: 99vw;
  height: 67vh;
  color: black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
}

#home-four-left {
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;


}

#home-four-left > h1 {
  font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;
}

#home-four-left > h2 {
  font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}



#home-five {
  background-color: black;
  height: 100px;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}




