#logged-in-home {
  // background-color: black;
}


#logged-in-nav > div {
  // border: 1px solid red;
  width: 32vw;
}

#logged-in-nav {
  // border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 13px;
  height: 4vh;
  // padding: 6px 0px;
  align-items: center;
  // back
}

#logged-in-dropdown {
  // border: 1px solid green;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  // padding-right: 20px;
  font-weight: bold;
}


#logged-in-dropdown > div {
  // border: 1px solid green;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 5%;


  height: 10px;

  text-decoration: none;

  // border: 1px solid red;
}



#logged-in-dropdown > div:hover {
  color: green;
  cursor: pointer;
  
}

.search-bar {
  width: 70%;
  height: 30px;
  // display: flex;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  transition: border-color 200ms ease 0s;
  border-color: rgb(236, 236, 236);
  background-color: rgb(245, 248, 250);
  padding-left: 50px;
}







.drop-down-item {
  display: none;
}