#logged-in-home {
  // background-color: black;
}


#logged-in-nav > div {
  // border: 1px solid red;
  width: 32vw;
}

#logged-in-nav {
  // border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 13px;
  height: 4vh;
  align-items: center;
}

#logged-in-dropdown-list {
  // border: 1px solid green;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: bold;
}


#logged-in-dropdown-list > div {
  // border: 1px solid green;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 5%;

  height: 10px;
  text-decoration: none;
}

#logged-in-dropdown-list > div:hover {
  color: green;

}

.dropdown-content {
  display: none;
  color: black;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin: 20px 0px;
  z-index: 1;
}

.dropdown-content-child {
  text-decoration: none;
  color: black;
}

.dropdown-content-child:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}


.drop-down-show {
  display: flex;
  flex-direction: column;
}



.search-bar {
  width: 70%;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  transition: border-color 200ms ease 0s;
  border-color: rgb(236, 236, 236);
  background-color: rgb(245, 248, 250);
  padding-left: 50px;
}





