#logged-in-bottom {
  // border: 1px solid blue;
  width: 55vw;
  height: 91vh;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

#logged-in-left {
  // border: 1px solid red;
  width: 72%;
  padding-right: 80px;
}


#logged-in-right {
  // border: 1px solid green;
  width: 33%;
  height: 95%;
}

.logo-pic {
  height: 45px;
  // border: 1px solid red;
}


#home-stock-show-graph-div{
  // border: 1px solid red;
  height: 35%;
  width: 100%;
  display: flex;
  // justify-content: center;
  flex-direction: column;
}


#buying-power {
  // border: 1px solid blue;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-weight: bold;
  font-size: 15px;
}

#buying-power:hover {
  background-color: rgb(243, 243, 243);
  border-radius: 5px;

}