#logged-in-bottom {
  // border: 1px solid blue;
  width: 65vw;
  height: 91vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

#logged-in-left {
  // border: 1px solid red;
  width: 600px;
  padding-right: 80px;
  overflow: scroll;
}


#logged-in-right {
  // border: 1px solid green;
  width: 27%;
  min-width: 320px;
  height: 95%;
}

.logo-pic {
  height: 45px;
  // border: 1px solid red;
}


#home-stock-show-graph-div {
  // border: 1px solid red;
  height: 45%;
  width: 100%;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  overflow: hidden;
}


#buying-power {
  // border: 1px solid blue;
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-weight: bold;
  font-size: 15px;
}

#buying-power:hover {
  background-color: rgb(243, 243, 243);
  border-radius: 5px;

}