#logged-in-bottom {
  // border: 1px solid blue;
  width: 55vw;
  height: 91vh;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

#logged-in-left {
  // border: 1px solid red;
  width: 72%;
}


#logged-in-right {
  // border: 1px solid green;
  width: 28%;
  height: 95%;
}

.logo-pic {
  height: 45px;
  // border: 1px solid red;
}

