.nav-bar {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  padding: 10px 0px;
  background-color: white;
  box-shadow: 0px 1px 4px 0px rgb(94, 94, 94);
}



.logo {
  font-size: 26px;
  padding: 10px 10px;
  font-family: sans-serif;
  // border: 3px solid #73AD21;
}

.dropdowns {
  font-size: 26px;
  padding: 10px 10px;
  font-family: sans-serif;
  display: flex;
  // border: 3px solid #73AD21;
}

#other-nav-bar{
  // border: 3px solid #73AD21;
}

.btn {
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
  // border: 3px solid #73AD21;
}

#signup {
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  height: 40px;
  min-width: 130px;
  border-radius: 30px;
  background-color: rgb(0, 200, 5);
  color: black;
  margin: 0px 15px;
}



#login {
  text-decoration: none;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  position: static;
  text-align: start;
  white-space: normal;
  color: black;
}