// #logged-in-home {
//   // background-color: black;
// }


#logged-in-nav > div {
  // border: 1px solid red;
  width: 31vw;
}

#logged-in-nav {
  // border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 13px;
  height: 4vh;
  align-items: center;
  padding-top: 5px;
}

#logged-in-dropdown-list {
  // border: 1px solid green;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: bold;
}


#logged-in-dropdown-list > div {
  // border: 1px solid green;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 5%;

  height: 10px;
  text-decoration: none;
}

#logged-in-dropdown-list > div:hover {
  color: green;

}

.dropdown:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  color: black;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 290px;
  // height: 700;
  box-shadow: 3px 8px 10px 0px rgba(0,0,0,0.2);
  margin: 20px 0px;
  z-index: 1;
  // border: 1px solid red;;
}

.dropdown-content-child {
  text-decoration: none;
  color: black;
  // border: 1px solid red;
  height: 42px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#bottom-border {
  border-bottom: 1px solid rgb(216, 216, 216);
}

#gold {
  color: rgb(224, 197, 45);
  
}


#user-info {
  height: 100px;
  border-bottom: 1px solid rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  // border: 1px solid red;
}

#user-info > div {
  font-size: 15px;
  height: 40%;
  // border: 1px solid red;
  width: 85%;
}

#balance-status {
  // border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#balance-status > div {
  // border: 1px solid blue;
  width: 50%;
}

.balance-status-description {
  font-size: 12px;
}



.dropdown-content-child:hover {

  background-color: rgb(243, 243, 243);
  text-decoration: none;
  cursor: pointer;
}


.dropdown-content-child > * {
  // border: 1px solid red;
  width: 24px;
  padding-right: 10px;
}






.drop-down-show {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.search-bar-div {
  // border: 1px solid blue;
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  transition: border-color 200ms ease 0s;
  border-color: rgb(236, 236, 236);
  background-color: rgb(245, 248, 250);
  // margin-left: -100px;
  // position: relative;

}

// .search-bar-div > * {
//   border: 1px solid red;

// }

.search-bar-icon {
  width: 8%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.search-bar {
  // border: .01px solid red;;
  height: 90% ;
  width: 92%;
  background-color: transparent;
  border-style: hidden;
  outline: none;
  padding-left: 8px;
}








.normal-link {
  text-decoration: none;
  color: black;
}

.normal-link:hover {
  color: green;
  // cursor: pointer;
}



