#logged-in-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}


#logo-img-link {
  cursor: pointer;
}


.search-bar-div {
  // border: 5px solid blue;
  display: flex;
  flex-direction: row;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  transition: border-color 200ms ease 0s;
  border-color: rgb(236, 236, 236);
  background-color: rgb(245, 248, 250);
  width: 27%;
}


#logged-in-nav {
  // border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 13px;
  height: 4vh;
  width: 95vw;
  align-items: center;
  padding-top: 5px;
}



#filler {
  // border: 1px solid red;
  width: 20%;
}



#logged-in-dropdown-list {
  // border: 1px solid green;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: bold;
  width: 50%;
}


#logged-in-dropdown-list > div {
  // border: 1px solid green;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 5%;

  height: 10px;
  text-decoration: none;
}

#logged-in-dropdown-list > div:hover {
  color: green;
}


.dropdown:hover {
  cursor: pointer;
}


.dropdown-content {
  display: none;
  color: black;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 290px;
  // height: 700;
  box-shadow: 3px 8px 10px 0px rgba(0,0,0,0.2);
  margin: 20px 0px;
  z-index: 1;
  // border: 1px solid red;;
}

.dropdown-content-child {
  text-decoration: none;
  color: black;
  // border: 1px solid red;
  height: 42px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

#bottom-border {
  border-bottom: 1px solid rgb(216, 216, 216);
}

#gold {
  color: rgb(224, 197, 45);
}


#user-info {
  height: 100px;
  border-bottom: 1px solid rgb(216, 216, 216);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
  // border: 1px solid red;
}

#user-info > div {
  font-size: 15px;
  height: 40%;
  // border: 1px solid red;
  width: 85%;
}

#balance-status {
  // border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#balance-status > div {
  // border: 1px solid blue;
  width: 50%;
}

.balance-status-description {
  font-size: 12px;
}



.dropdown-content-child:hover {
  background-color: rgb(243, 243, 243);
  text-decoration: none;
  cursor: pointer;
}


.dropdown-content-child > * {
  // border: 1px solid red;
  width: 24px;
  padding-right: 10px;
}



.search-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 25.65%;
  max-height: 200px;
  box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.2);
  margin: 30px 0px;
  transition: 2s;
  overflow: hidden;
  // border: 1px solid red;
}




.search-result-name {
  display: flex;
  width: 50%;
  height: 100%;
  // border: 1px solid red;
}

.search-show-header {
  font-weight: bold;
  color: rgb(90, 90, 90);
  padding-left: 20px;
  width: 50%;
  height: 10%;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.test {
  // border: 1px solid blue;

  width: 90%;
  height: 90%;
}


.search-content {
  display: none;
}



.search-result-line {
  display: flex;
  justify-content: space-between;
  // border: 1px solid red;
  padding-left: 20px;
  width: 70%;
  height: 20px;
}

.search-result-line-outer:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}

.search-result-line-outer {
  height: 26.67px;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  // justify-content: center;
  // border: 1px solid red;
}


.search-show-results {
  // border: 1px solid blue;
  max-height: 160px;
}




.drop-down-show {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}



.search-bar-icon {
  width: 8%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.search-bar {
  height: 90% ;
  width: 92%;
  background-color: transparent;
  border-style: hidden;
  outline: none;
  padding-left: 8px;
}

.hide {
  display: none;
}



.normal-link {
  text-decoration: none;
  color: black;
}

.normal-link:hover {
  color: green;
  // cursor: pointer;
}



