.nav-bar {

  display: flex;
  // justify-content: flex-end;
  // flex-direction: row;
  justify-content: space-between;
  // justify-content: flex-end;
  margin: 10px 0px;
}


.logo {
  font-size: 26px;
  padding: 10px 10px;
  font-family: sans-serif;
}

.dropdowns {
  font-size: 26px;
  padding: 10px 10px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

.btn {
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
}

#signup {
  -webkit-box-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  height: 40px;
  min-width: 130px;
  border-radius: 30px;
  background-color: rgb(0, 200, 5);
  // border: 3px solid #73AD21;
  margin: 0px 15px;
}



#login {
  text-decoration: none;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  position: static;
  text-align: start;
  white-space: normal;
  // border: 3px solid #73AD21;
  // margin: 0px 15px;
}