#stock-show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  cursor: default;
}


#stock-show-main {
  margin-top: 35px;
  // border: 1px solid red;
  height: 90vh;
  width: 60vw;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

#stock-show-left {
  // border: 1px solid red;
  height: 100%;
  width: 60%;
}

#stock-show-right {
  // border: 1px solid red;
  height: 100%;
  width: 30%;
}

#stock-show-graph-div {
  // border: 1px solid red;
  height: 51%;
  width: 100%;
}

// #stock-show-graph {
  // border: 1px solid red;
  // height: 51%;
  // width: 100%;
// }

.stock-show-user-info {
  height: 29%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stock-show-user-info > div {
  border-radius: 4px;
  height: 81%;
  width: 48%;
}



.stock-show-market-bar-comp {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  // border: 1px solid green;
}

.stock-show-market-bar-comp > div {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  
}



#stock-show-upcoming-activity {
  // border: 1px solid red;
  height: 19%;
  width: 100%;
}

#stock-show-market-bar {
  min-height: 20%;
  width: 100%;
  box-shadow: 1px 1px 5px 2px rgb(173, 173, 173);
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.cursor-pointer{
  cursor: pointer;
}


#stock-show-market-bar-button {
  min-height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // border: 1px solid red;
}

#stock-show-market-bar-button > * {
  width: 80%;
}


#stock-show-market-bar-trade {
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  // padding-top: 20px;
}

#stock-show-market-bar-trade > div {
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
}


#stock-show-drop-down{
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  height: 70%;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}


#stock-show-shares {
  // border: 1px solid blue;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.bold-font {
  font-weight: bold;
}


#stock-show-shares-input {
  width: 40%;
  height: 60%;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  text-align: right;
  padding-right: 8px;
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



#stock-show-market-bar-trade > div:hover {
  color: #00C805;
  cursor: pointer;
}

#filler2 {
  width: 7%;
}

.border {
  border: 1px solid red;
}

.stock-show-chosen-transaction {
  color: #00C805;
  border-bottom: 2px solid #00C805;
}




#stock-show-market-bar-order {
  height: 76%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#stock-show-market-bar-buy-power {
  // border: 1px solid red;
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00C805;
  font-size: 13px;
}

#stock-show-market-bar-order-top {
  // border: 1px solid blue;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;
  
}

#stock-show-market-bar-order-top > div {
  // border: 1px solid red;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#stock-show-market-bar-order-top > div > div {
  // border: 1px solid blue;
  height: 90%;
  width: 50%;
  font-size: 13.5px;
  display: flex;
  align-items: center;
  
}


#stock-show-market-price{
  display: flex;
  justify-content: space-between;
  // border: 1px solid green;
  width: 80%;
}




#stock-show-market-price-sub {
  color: #00C805
}

#stock-show-market-bar-order-bottom {
  border: 1px solid red;
  height: inherit;
  width: 90%;
  font-size: 12px;
  font-weight: bold;
  // display: flex;
  // justify-content: center;
}


#stock-show-market-estimated-cost {
  height: 40%;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#stock-show-market-review-order {
  height: 45px;
  display: flex;
  justify-content: center;
}

#stock-show-market-review-order-button {
  cursor: pointer;
  width: 85%;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #00C805;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  // font-family: sans-serif
}

#stock-show-market-review-order-button:hover {
  background-color: #3bd840;

}

#stock-show-user-info-market-value, #stock-show-user-info-avg-cost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(221, 221, 221);
}

#stock-show-user-info-market-value > div, #stock-show-user-info-avg-cost > div{
  display: flex;
  width: 85%;
  height: 15%;
  justify-content: space-between;
  align-items: center;

}

#stock-show-user-info-market-value-amount, #stock-show-user-info-avg-cost-amount {
  // border: 1px solid green;
  font-weight: bold;
  font-size: 20px;
}

body {
  font-size: 13px;
}