#stock-bar {
  margin-top: 25px;
  // border: 1px solid red;
  width: 100%;
  height: 100%;
  box-shadow: 0px 8px 24px rgb(173, 173, 173);
  border-radius: 6px;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  // width: 276px;
  // height: 415px;
}

#stock-bar > div {
  // border: 1px solid blue;
  width: 100%;
  min-height: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-border { 
  border-bottom: 1px solid rgb(241, 241, 241);
}


#stock-bar-title {
  // border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0%;
  width: 85%;
  font-weight: 550;
}

.display-stock {
  border: 1px solid red;
  width: 78%;
  min-height: 45px;
  display: flex;
}

.stock-name-amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.display-stock > div{
  border: 1px solid blue;
  min-width: 25%;
}

.stock-graph {
  width: 50%;
}

#owned-stocks {
  display: flex;
  flex-direction: column;
}

// #stock-bar-title > div {
//   // border: 1px solid red;
// }



