#stock-bar {
  margin-top: 25px;
  // border: 1px solid red;
  width: 100%;
  height: 90%;
  box-shadow: 0px 8px 24px rgb(173, 173, 173);
  border-radius: 6px;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  // width: 276px;
  // height: 415px;
}

.stock-name {
  font-size: 13px;
  font-weight: bold;
  // border: 1px solid red;
}

.stock-amount {
  height: 16px;
  width: 50px;
  font-size: 13px;
}
.stock-price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#stock-bar > div {
  // border: 1px solid blue;
  width: 100%;
  min-height: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-border { 
  border-bottom: 1px solid rgb(231, 231, 231);
}

.top-border { 
  border-top: 1px solid rgb(231, 231, 231);
}



#stock-bar-title {
  // border: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0%;
  width: 85%;
  font-weight: 550;
}

.display-stock {
  // border: 1px solid red;
  width: 90%;
  min-height: 45px;
  display: flex;
}

.stock-name-amount> div{
  // border: 1px solid red;
  height: 16px;
  width: 100%;
  font-size: 13px;
}


.stock-name-amount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.display-stock > div{
  // border: 1px solid blue;
  min-width: 30%;
}

.stock-graph {
  width: 50%;
}

#owned-stocks {
  display: flex;
  flex-direction: column;
}

.link-to-stock-show {
  width: 100%;
  text-decoration: none;
  color: black;
  // border: 1px solid black;
  display: flex;
  justify-content: center;
}

.link-to-stock-show:hover {
  background-color: rgb(240, 240, 240);
}

#owned-stocks > div:hover {
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}




// #stock-bar-title > div {
//   // border: 1px solid red;
// }



