#stock-show-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    cursor: default;
}


#stock-show-main {
    margin-top: 35px;
    border: 1px solid red;
    height: 90vh;
    width: 60vw;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

#stock-show-left {
    border: 1px solid red;
    height: 100%;
    width: 60%;
}

#stock-show-right {
    // border: 1px solid red;
    height: 100%;
    width: 25%;
}

#stock-show-graph {
    border: 1px solid red;
    height: 51%;
    width: 100%;
}

#stock-show-user-info {
    border: 1px solid red;
    height: 29%;
    width: 100%;
}

#stock-show-upcoming-activity {
    border: 1px solid red;
    height: 19%;
    width: 100%;
}

#stock-show-market-bar {
    // border: 1px solid red;
    height: 45%;
    width: 100%;
    box-shadow: 0px 8px 24px rgb(173, 173, 173);
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

// .

#stock-show-market-bar-trade {
    height: 12%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    // padding-top: 20px;
}

#stock-show-market-bar-trade > div {
    font-size: 15px;
    // border: 1px solid red;
}



#stock-show-market-bar-trade > div:hover {
    color: green;
    cursor: pointer;
}

#filler2 {
    width: 7%;
}

#stock-show-market-bar-order {
    // border: 1px solid red;
    height: 76%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#stock-show-market-bar-buy-power {
    // border: 1px solid red;
    height: 12%;
    width: 100%;
}

#stock-show-market-bar-order-top {
    // border: 1px solid red;
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#stock-show-market-bar-order-top > div {
    // border: 1px solid red;
    height: 30%;
    display: flex;
    flex-direction: row;
}

#stock-show-market-price-sub {
    color: green
}




#stock-show-market-bar-order-top > div > div {
    border: 1px solid red;
    height: 100%;
    width: 50%;
    font-size: 13.5px;
    display: flex;
    align-items: center;
}